header {
    background-color: #FFBD59;
    color: white;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px 0;
    position: relative;
    z-index: 1000;
}

.ImgLogo {
    max-width: 80px;
    height: auto;
    margin-right: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0 20px;
    font-size: 16px;
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.search-container input[type="text"],
.search-container button {
    padding: 8px 10px;
    border: none;
    border-radius: 4px;
}

.header-links {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-links a {
    color: #000;
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none; /* Enlève le soulignement des liens */
}

.header-links a:hover {
    text-decoration: underline;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: white;
    position: absolute;
    right: 20px;
    top: 10px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .menu-toggle {
        display: block;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #FFBD59;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li, .nav-list div {
        text-align: left;
        width: 100%;
        padding: 10px 20px; /* Ajoute une marge à gauche */
        border-bottom: 1px solid black; /* Change la couleur des séparateurs en noir */
    }

    .nav-list li:last-child {
        border-bottom: none;
    }

    .search-container {
        margin-bottom: 10px;
    }
}

