html, body {
    height: 100%; /* Permet d'utiliser toute la hauteur de la fenêtre du navigateur */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column; /* Organise le contenu en colonne */
    background-color: #D9D9D9;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-content {
    flex: 1; /* Fait en sorte que le contenu principal pousse le footer vers le bas */
    padding: 20px; /* Ajoute du padding pour la mise en page */
    display: flex;
    flex-direction: column;
    width: 100%; /* Assurez-vous que le contenu principal utilise toute la largeur */
}

.main-content h1 {
    text-align: center;
    margin: 20px 0;
    width: 100%; /* S'assure que le contenu principal utilise toute la largeur disponible */
}

.categories {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.categorie {
    background-color: #ffffe0; /* Jaune clair */
    padding: 15px;
    width: 30%;
    text-align: center;
}


.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-top: 200px; /* Ajustez cette valeur selon la hauteur de votre header */
    background-color: #f4f4f4;
}

.product {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    text-align: center;
}

.product-image {
    width: 100%;
    height: 100px;
    background-color: #ccc;
    margin-bottom: 10px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5); /* White background with opacity */
    color: black; /* Text color */
    width: 100%;
    transition: opacity 0.5s ease;
    opacity: 0;
    text-align: center;
    padding: 20px 0; /* Padding for text */
    font-size: 24px; /* Text size */
}

.image-text img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.image-text:hover img {
    transform: scale(1.1); /* Zoom effect */
}

.image-text:hover .overlay {
    opacity: 1;
}
.image-container {
    display: flex;
    justify-content: space-around;
}

.image-text {
    position: relative;
    width: 48%; /* Adjust the width as needed */
}